.logo{
    width: 150px;
    height: 150px;
}

.navigationbar-wrapper h1{
color:#054235 ;
font-size:40px ;
font-weight: bold;

}

.navigationbar-buttons{
   display: flex; 
   flex-direction: row;
   gap:10px;
   margin-top: 10px;
   margin-right: 10px;
}

.navigationbar-wrapper{
    display: flex;
    gap: 10px;
    flex-direction: row;
     justify-content: space-between;
     padding: 8px;

}

.navigationbar-logo-and-name{
    display: flex;
    gap: 10px;
    flex-direction: row;
     justify-content: space-between;
     padding: 8px;
    align-items: center;
}